html {
    height: 100%;
}

body {
    padding: 0;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, lightgrey 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, lightgrey)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, #eeeeee 0%, lightgrey 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, #eeeeee 0%, lightgrey 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, #eeeeee 0%, lightgrey 100%); /* IE10 preview */
    background: linear-gradient(to bottom, #eeeeee 0%, lightgrey 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;;
    font-family: "Droid Sans", sans-serif;
}

header {
    height: 2.5em;
    margin: 0 auto;
}

legend {
    font-weight: bold;
    font-size: larger;
}

button {
    background-color: #b3d4fc;
    padding: 0.4em 0.4em 0.2em 0.4em;
    margin-top: 1em;
    border: #9a9a9a solid 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

input {
    margin-bottom: 0.5em;
}

fieldset {
    padding: 0.5em;
    margin: 1em 0.5em;
}

.title {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: medium;
    padding: 0.6em 0.6em 0.2em 0.6em;
    color: #4d4d4d;
    background-color: lightgrey;
    border-bottom: #222222 solid 1px;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}

.gullvikmoen {
    color: peru;
}

.points {
    width: 3ch;
}

.right {
    float: right;
}

#abortLink {
    padding-right: 1em;
    font-size: medium;
    font-weight: normal;
}

#aboutLink {
    padding-right: 1em;
}

#aboutPanel fieldset {
    margin-bottom: 0;
}

#rankingPanel {
    border: solid 1px black;
    background-color: whitesmoke;
}

#pairPlayersButton {
    width: 100%;
}

#endRoundButton {
    width: 100%;
}

#restartButton {
    width: 100%;
}